# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
ENV/
env/

# Editor & OS junk
*.log
*.DS_Store
*.swp
*.swo
.vscode/

# Dependency files
*.egg-info/
dist/
build/

# Ignore test reports
.coverage
*.sqlite3

# Environment/config files
.env
.env.*
*.pem
